---
import '../style/css/about.css';
---

<section id="aboutme">
	<h2>About me</h2>
	<p>
		I am currently pursuing my final year of study in Computer Systems
		Engineering, with a focus on web development. My experience thus far has
		been primarily centered around frontend projects utilizing HTML, CSS and
		Javascript.
	</p>
	<h2>My Skills</h2>
	<ul>
		<li>HTML</li>
		<li>CSS</li>
		<li>SASS</li>
		<li>Bootstrap</li>
		<li>JavaScript</li>
		<li>GIT</li>
		<li>Github</li>
	</ul>
</section>
