---
import '../style/css/header.css';
---

<header>
	<div class="headerContainer">
		<h1 class="name">HELLO, I'M JOSÉ RODRÍGUEZ</h1>
		<h2>- Frontend Developer -</h2>
	</div>
</header>

<style>
	h1 {
		font-size: 80px;
		font-weight: 800;
	}
	h2 {
		font-size: 30px;
		font-weight: 100;
	}
</style>
