---
import Layout from '../layouts/Layout.astro';

import 'bootstrap/dist/css/bootstrap.min.css';
import bootstrap from 'bootstrap/dist/js/bootstrap.bundle.min.js?url';
import About from './about.astro';
---

<Layout title="josergz">
	<script src={bootstrap}></script>
	<main>
		<About />
	</main>
</Layout>
