---
import Layout from '../layouts/Layout.astro';
import Header from './header.astro';
import About from './aboutme.astro';
import Projects from './projects.astro';
import Contact from './contact.astro';
---

<Layout title="josergz">
	<main>
		<Header />
		<About />
		<Projects />
		<Contact />
	</main>
</Layout>

<style>
	main {
		background-color: #192229;
		color: #eff3f5;
		font-family: Lato;
	}
</style>
