---
import '../style/css/nav.css';
---

<nav>
	<div class="navContainer">
		<ul>
			<li>
				<a href="">Home</a>
			</li>
			<li>
				<a href="">About me</a>
			</li>
			<li>
				<a href="">Projects</a>
			</li>
			<li>
				<a href="">Contact</a>
			</li>
		</ul>
	</div>
</nav>
